<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Node</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="node[id]">Id</label>
        <input id= "node[id]" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="node[title]">Title</label>
        <input id= "node[title]" type="text" class="form-control" />
      </div>
      <button id="create_node" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Edge</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="edge[target_id]">Target id</label>
        <input id= "edge[target_id]" type="text" class="form-control" />
      </div>
      <button id="create_edge" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>

<div class="col-md-12">
  <canvas id="main_canvas" width="600" height="400" style="border: 1px solid black;">
  </canvas> 
</div>
