<div class="col-md-3">
  <div class="list-group">
    <a href="<%= profile_path %>" class="list-group-item <%= (selected_option == 'profile') ? 'active' : 'list-group-item-action' %>">Profile</a>
    <a href="<%= account_path %>" class="list-group-item <%= (selected_option == 'account') ? 'active' : 'list-group-item-action' %>">Account</a>
  </div>
</div>
