<% provide(:page_title, "Home") %>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline" action="javascript:void(0);">
        <div class="form-group">
          <label for="node[id]">Id</label>
          <input id= "node[id]" type="text" class="form-control" style="margin-bottom: 0;" />
        </div>
        <div class="form-group">
          <label for="node[title]">Title</label>
          <input id= "node[title]" type="text" class="form-control" style="margin-bottom: 0;" />
        </div>
        <button id="edit_node" class="btn btn-default">Edit</button>
        <button id="delete_node" class="btn btn-default">Delete</button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <button id="refresh" class="btn btn-primary">Refresh</button>
      <button id="create_node" class="btn btn-primary">Create</button>
    </div>
  </div>
</div>

<div class="col-md-12">
  <canvas id="main_canvas" width="800" height="600" style="border: 1px solid black;">
  </canvas> 
</div>
