<% if @user.errors.any? %>
  <div class="errors-panel">
    <div class="container">
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  </div>
<% end %>
