<% if @user.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <div class="container">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <%= punctuate(@user.errors.full_messages) %>
    </div>
  </div>
<% end %>
