<% provide(:page_title, 'Rhisomas') %>

<% content_for :errors do %>
  <%= render 'shared/error_messages' %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'system.css' %>
<% end %>

<style>
.rhisoma_div {
  background: white; 
  border: 1px solid black; 
  z-index: 10; 
  position: relative; 
  margin: auto; 
  top: 200px;
  width: 300px;
  padding: 10px;
}

.rhisoma_div table, th, td {
  border: 1px solid black; 
}
</style>

<div class="rhisoma_div">
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Main</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @user.territories %>
  </tbody>
</table>

<%= link_to "Create new Rhisoma", new_territory_path() %>
</div>

<script>
$.ajax({
    url: "/language-pt.json",
    type: "GET",
    contentType: 'application/json; charset=utf-8',
    success: function (resultData) {
        var locales_data = resultData;
        main(locales_data);
    },
    error: function (jqXHR, textStatus, errorThrown) {
    },
    timeout: 120000,
});

function main(locales_data){
  var gui = new Gui();
  var top_menu = new SystemGui();
  top_menu.setLocales(locales_data);
  top_menu.setSearch(false);
  top_menu.drawSystemMenu();

  var sidebar = {id:"system-sidebar",class:"system-sidebar",height:window.innerHeight-40};
  gui.addContainer(sidebar);

  var profile_button = {id:"system-profile-button",class:"system-sidebar-primary-button",top:150,backgroundColor:"rgb(30,30,30)",color:"white"};
  gui.addField(profile_button,"system-sidebar");
  gui.addText("system-profile-button","PERFIL");

  var account_button = {id:"system-account-button",class:"system-sidebar-primary-button",top:200};
  gui.addLink(account_button,"system-sidebar");
  gui.addText("system-account-button",'CONTA');
  document.getElementById("system-account-button").setAttribute('href',"/settings/account");

  var change_password_button = {id:"system-change-password-button",class:"system-sidebar-secondary-button-inactive",top:250};
  gui.addLink(change_password_button,"system-sidebar");
  gui.addText("system-change-password-button","TROCAR SENHA");
  document.getElementById("system-change-password-button").setAttribute('href',"/settings/account");

  var change_email_button = {id:"system-change-email-button",class:"system-sidebar-secondary-button-inactive",top:280};
  gui.addLink(change_email_button,"system-sidebar");
  gui.addText("system-change-email-button","TROCAR EMAIL");
  document.getElementById("system-change-email-button").setAttribute('href',"/email_resets/new");

  var delete_account_button = {id:"system-delete-account-button",class:"system-sidebar-secondary-button-inactive",top:310};
  gui.addLink(delete_account_button,"system-sidebar");
  gui.addText("system-delete-account-button","DELETAR CONTA");
  document.getElementById("system-delete-account-button").setAttribute('href',"/settings/confirm_delete_account");

  var rhisomas_button = {id:"system-rhisomas-button",class:"system-sidebar-primary-button",top:340};
  gui.addLink(rhisomas_button,"system-sidebar");
  gui.addText("system-rhisomas-button","RHISOMAS");
  document.getElementById("system-rhisomas-button").setAttribute('href',"/settings/rhisomas");
}
  

</script>
