@charset "UTF-8";

body {
	font-family: Source Sans Pro;
	background-color: white;
	margin: 0px;
}

input.login-form {
	height:32px;
	font-family: Source Sans Pro;
	font-size:20px;
	font-weight: 400;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	background:transparent;
	color:#000000;
	border:solid 4px #92239b;
}

input.login-form:focus{
	background:transparent;
	color:blue;
	outline: none;
}

#send-email {
	width:258px;
	display:inline-block;
	text-align:center;
	color:#000000;
	background:transparent;
	border:solid 1px #ffffff;
	padding:6px;
	font-size:12px;
	font-weight: 700;
	font-family: Dosis;
}

#system-message {
	font-family: Dosis;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	margin:0px;
	text-align: center;
}

::-webkit-input-placeholder {
	font-weight: 300;
   	color: black;
}

:-moz-placeholder { /* Firefox 18- */
	font-weight: 300;
   	color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
	font-weight: 300;
   	color: black;  
}

:-ms-input-placeholder {  
	font-weight: 300;
   	color: black;  
}